@model DZ._20220724.Film.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Style)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Style)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>  
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SessionList)
        </dt>
        <dd class = "col-sm-10">
            <ul>
                @foreach (string session in Model.SessionList)
                    {
                        <li>@session</li>
                    }
            </ul>
            @*@Html.DisplayNameFor(model => model.SessionList)*@
        </dd>
    </dl>
</div>


<div hidden="true" class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produser" class="control-label"></label>
                <input asp-for="Produser" class="form-control" />
                <span asp-validation-for="Produser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Style" class="control-label"></label>
                <input asp-for="Style" class="form-control" />
                <span asp-validation-for="Style" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDescription" class="control-label"></label>
                <input asp-for="ShortDescription" class="form-control" />
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
            <div hidden="true" class="form-group">
                <label asp-for="SessionList" class="control-label"></label>
                @for (int i = 0; i < @Model.SessionList.Count; i++)
                {
                    <input asp-for="@Model.SessionList[i]" class="form-control" />
                }
                @*<input asp-for="SessionList" class="form-control" />*@
                <span asp-validation-for="SessionList" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>



<div class="active">
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="btn btn-warning" asp-action="EditSessionList" asp-route-id="@Model.Id">Edit Session</a><br>
    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Delete</a><br>
    <a class="btn btn-success" asp-action="Index">Back to List</a>
</div>
